<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  <% influencers.each do |influencer| %>
    <div class="bg-white shadow-lg rounded-2xl p-4 flex items-center space-x-3 hover:shadow-2xl transition-all">
      
      <!-- Foto -->
      <img src="<%= influencer.picture %>" 
           alt="Foto de <%= influencer.username %>"
           class="w-24 h-24 rounded-full border shadow-md">

      <!-- Información del influencer -->
      <div class="flex-1">
        <div class="flex items-center space-x-2 mb-3">
          <%= platform_logo(influencer.platform) %>
        </div>

        <div class="flex items-center space-x-3 mb-3">
          <h2 class="text-lg font-semibold text-gray-800">@<%= influencer.username %></h2>
          <% if influencer.verified %>
            <%= image_tag "verified.png", alt: "Cuenta verificada por Meta", class: "w-5 h-5 inline-block ml-3" %>
          <% end %>
        </div>

        <p class="text-gray-600 mb-3"><%= influencer.fullname || 'Nombre no disponible' %></p>
        
        <div>
          <span class="text-gray-700 font-medium"><%= number_with_delimiter(influencer.followers) %> seguidores</span>
        </div>
      </div>

    </div>
  <% end %>
</div>
